@charset "UTF-8";
/* CSS Document */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

html, body{
	    background: #eee;
	height: 100%;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}
.right-col{
}
.left-col{
}

@media (min-width: 992px){
	.right-col{
		width: 290px;
		float: right;
	}
	.left-col{
		width:  calc(100% - 295px);
		float: left;
		height: 100%;
	}
}
#video_iframe{
	border: none !important;
}
header{
	background: #0D47A1;
	color: #FFF;
    font-weight: 300;
	padding: 10px 20px;
	position: relative;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background-size: cover;
}
header img{
	height: 50px;
	width: 50px;
	position: absolute;
	top: 5px;
	right: 20px;
	display: none;
}
@media (min-width: 768px){
	header{
		padding: 0px 20px;
		line-height: 60px;
		font-size: 14px;
		text-align: left;
	}
	header img{
		display: block;
	}
}
@media (min-width: 1200px){
	header{
		height: 60px;
		font-size: 18px;
	}
}
#video-container{
	width: 100%;
	height: calc(100% - 60px);
}
.video-full, .video-full iframe{
	width: 100%;
	height: calc(100% - 3px);
}
#event-stream{
	background-color: #000;
	position: relative;
}
.disclaimer{
	position: absolute;
	background: rgba(0,0,0,0.5);
	color: #FFF;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 10px;
	padding-left: 73px;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 12px;
	display: none;
}
@media (min-width: 992px){
	.disclaimer{
		font-size: 15px;
	}
}
@media (min-width: 768px){
	.disclaimer{
		display: block;
	}
}
.disclaimer strong{
	font-weight: 400;
}
.comment-icon{
	background: #ddd;
	width: 63px;
	position: absolute;
	top:0px;
	bottom: 0px;
	left: 0px;
	color: #fff;
	text-align: center;
	font-size: 50px;
}
#event-ended{
	background: #FFF;
}
#chat-header{
	background-color: #FFF;
	padding: 10px;
}
#chat-disabled{
	background: none repeat scroll 0 0 #edffb5;
    border-radius: 3px;
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
    text-align: center;
	margin-top: 10px;
}
#chat-box{
	background-color: #FFF;
	margin: 10px 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}
#cta-box{
	position: absolute;
	width: 290px;
	border-top: 1px solid #27a2d8;
	bottom: 0px;
	right: 0px;
	padding: 15px;
	text-align: center;
	background: #FFF;
}
#chat-box img{
	width: 200px;
}
#cta-box h2{
	font-size: 20px;
	text-align: center;
	font-weight: 400;
}
#cta-box p{
	margin: 15px 0px;
}
.cta-content{
	overflow: hidden;
	height: 0px;
}
.cta-tab{
	position: absolute;
	height: 30px;
	line-height: 30px;
	top:-30px;
	left: 10px;
	color: #27a2d8;
	text-align: center;
	border-top: 1px solid #27a2d8;
	border-right: 1px solid #27a2d8;
	border-left: 1px solid #27a2d8;
	cursor: pointer;
	background-color: #FFF;
	padding: 0px 20px;
	font-size: 12px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.cta-toggle{
	position: absolute;
	right: 5px;
	top: -30px;
	height: 24px;
	line-height: 23px;
	width: 24px;
	color: #FFF;
	border-radius: 50%;
	background: #97ce68;
	cursor: pointer;
}
.cta-toggle.cta-expanded{
	height: 24px;
	width: 24px;
	color: #FFF;
	border-radius: 50%;
	background: #eb725e;
}
.cta-toggle:hover{
	background: #7cc04f;
}
.cta-toggle.cta-expanded:hover{
	background: #e3634d;
}
.btn-cta, .btn-cta:visited{
	background-color: #f2a246;
	border:1px solid #f98e2d;
	border-radius: 5px;
	color: #FFF;
	font-size: 18px;
}
.btn-cta:hover,.btn-cta:focus{
	background-color: #f98e2d;
	color: #FFF;
}
.cta-mobile{
	padding: 10px;
	padding-bottom: 0px;
}
.disclaimer-close{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #FFF;
	cursor: pointer;
}
.img-responsive-center{
	margin: 0px auto;
}
