@charset "UTF-8";
/* CSS Document */
body{
	background-color:#f7f7f6;
}

.word-wrap{
	display:inline-block;
}
.seperator {
    height: 7px;
}

.clear{
	clear:both;
}

.form-section{
	background-color:#FFF;
	margin-bottom:40px;
	font-size: 16px;
}
.form-section .radio{
	background-color:#f4f4f4;
	color:#58595b;
	padding:15px;
	font-size:18px;
	font-weight:300;
	margin-bottom:0px;
	margin-top:0px;
}
.form-section .radio strong{
	font-weight:600;
}
.form-section .radio label{
	padding-left:40px;
}
.form-section .radio input{
	margin-top:5px;
	margin-left: -30px;
}
.help-block {
    font-size: 14px;
}
.form-header{
	padding:15px;
	color:#FFF;
	text-transform:uppercase;
	font-size:16px;
	font-weight:600;
	background: #254390;
	background-image:url('../images/tbg2.png');
	background-size:cover;
	background-position:center center;
}
.form-body{
	padding:40px 15px;
}
.form-body .form-group{
	margin:20px 0px;
}
.form-body .form-group:first-child{
	margin-top:0px;
}
.form-body .form-group:last-child{
	margin-bottom:0px;
}
.form-body input[type=text],
.form-body select{
	background-color:#f4f4f4;
	border:none;
	border-radius:0px !important;
	margin-bottom:15px;
	font-size:17px;
	padding:0px 20px;
	height:40px;
	line-height:40px;
	color:#5c5c60;
}
.has-error input[type=text],
.has-error select,
.has-error .checkbox{
	border:red 1px solid !important;
}
.with-errors {
    color: red !important;
}
.form-body select{
	border:1px solid #cacaca;
	background-color:#FFF;
}
.form-body select[selected=selected]{
	color: #5c5c60 !important;
}
::-webkit-input-placeholder { /* Chrome */
  color: #cacaca !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cacaca !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cacaca important;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #cacaca !important;
  opacity: 1;
}
.form-body label{
	font-size:17px;
	font-weight:300;
}
.order-summary{
	background-color:#FFF;
	padding:15px;
	margin-bottom:40px;
}
.order-summary h2{
	text-transform:uppercase;
	padding-bottom:5px;
	font-size:25px;
	font-weight:700;
	border-bottom:1px solid #888;
}
.order-summary h3{
	color:#5c5c60;
	padding-bottom:15px;
	font-size:18px;
	font-weight:600;
	border-bottom:1px solid #888;
	margin-top:10px;
	line-height:1.5;
	margin-bottom:10px;
}
.payOptions label{
	display:block;
}
.payCard{
	height:32px;
	width:auto;
} 
.payPayPal img{
	height:32px;
	width:auto;
}
.lock{
	height:15px;
	margin-right:10px;
	display:inline-block;
	width:auto;
}
.btn-cta-orange{
	border-radius:0px;
}
td{
	padding:2px 0px;
}
.order-summary .border-bottom{
	border-bottom:1px solid #888;
	padding-bottom:20px;
}
.order-summary .border-bottom td{
	padding-bottom:10px;
}
.payplan{
	position:relative;
}

.btn-order{
	    background-color: #ff720b;
    border-color: #ed6501;
    color: white;
	padding: 13px;
	font-size: 20px;
	margin: 15px 0px;
}
.btn-order:hover, .btn-order:focus{
	    background-color: #ed6501;
    color: white;
}
.btn-order.disabled{
	opacity: 1;
}